restore_command = 'scp {{ groups.pg_master[0] }}:/var/lib/pgsql/9.6/data/archive/%f %p'

standby_mode = on

primary_conninfo = 'host={{ groups.pg_master[0] }} port=5432 user=replica password={{ replica_pass }} application_name={{ ansible_hostname }}'
